@import "tailwindcss";
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

/* энд @apply биш, жирийн css ашиглая */
body {
    background: #ffffff;
    color: #0f172a; /* tailwind-ийн text-slate-900-тэй ойролцоо */
}
